* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  color: red;
  text-align: left;
  padding-left: 10px;
}

.link-class {
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 2px;
  margin: 6px;
  font-size: 1.2em;
  text-align: left;
  padding-left: 10px;
}

.main-box {
  margin: auto;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

@media all and (width > 400px) { 
  .main-box {
    max-width: 500px;
  }
}

@media all and (width <= 400px) { 
  .main-box {
    width: calc(100% - 10px);
  }
}


/* .App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
